<!DOCTYPE html>
<html>
	<head>
		<title>CSC428 Research Project</title>
		<link rel="stylesheet" href="../css/style.css" type="text/css">
	</head>

	<body>
		<div id="intro">
			<h1>Post-Test Information</h1>
			Please fill out the following questionnaire. This lets us collect some qualitative data to help us better understand the results.
		</div>

		<div id="start">
			<p><a href="https://docs.google.com/a/aashni.me/forms/d/1i69hEe0RX3s5kwJ_W5B0NAE-FmmMAGDg6AYwDYUzSGI/viewform?usp=send_form" target="_blank">Post-Testing Questions</a></p>
		</div>
	</body>
</html>