<!DOCTYPE html>
<html>
	<head>
		<title>CSC428 Research Project</title>
		<link rel="stylesheet" href="../css/style.css" type="text/css">
	</head>

	<body>
		<div id="intro">
			<h1>Test Cases</h1>
			Select a link below to retry one of the tests with either device. You can repeat each task multiple times. Click on 'Begin Test' when you are ready to start the test.
		</div>

		<div id="start">
			<p><a href="../views/test1.html">Task 1</a></p>
			<p><a href="../views/test2.html">Task 2</a></p>
			<p><a href="../views/test3.html">Task 3</a></p>
			<p><a href="../views/test4.html">Task 4</a></p>
			<p><a href="../views/device1.html">Begin Tests</a></p>
		</div>
	</body>
</html>