<!DOCTYPE html>
<html>
	<head>
		<title>CSC428 Research Project</title>
		<link rel="stylesheet" href="../css/style.css" type="text/css">
	</head>

	<body>
		<div id="intro">
			<h1>Pre-Test Information</h1>
			Please fill out the following two questionnaires. These will allow us to collect some demographic information.
		</div>

		<div id="start">
			<p><a href="https://docs.google.com/a/aashni.me/forms/d/1CaPAwTMi_q9HKo57MGL41qxIfsOLrmZ7Y24khUXuqYA/viewform?usp=send_form" target="_blank">Name and Contact Information</a></p>
			<p><a href="https://docs.google.com/a/aashni.me/forms/d/1XYZ4JJEhrWAy0LfzZBnn0xZDC8tEw0sBP5TrAc-rHoE/viewform?usp=send_form" target="_blank">Pre-Testing Questions</a></p>
			<p><a href="../views/device1.html">Continue</a></p>
		</div>
	</body>
</html>